# Python Environment & Caches
venv/
__pycache__/
*.pyc

# Massive Model Weights
*.pth

# Locally Generated Database Files
vector_index.faiss
metadata.csv

# Downloaded Datasets (To prevent uploading 7GB of files)
data/